
section.bdy div.contents {
  text-align: center;
}
section.bdy div.contents div.col {
  margin: 10px 0 0;
  height: 200px;
}
section.bdy div.contents div.col div.sub-contents {
  padding: 0 5px;
}
section.bdy div.contents div.col div.sub-contents h2 {
  text-align: left;
  margin: 0;
  padding: 5px;
}
section.bdy div.contents div.col div.sub-contents div.contributor, div.status {
  width: 95%;
  text-align: left;
  padding: 5px;
}
section.bdy div.contents div.col div.sub-contents div.status {
  radius: 20%;
}
section.bdy div.contents div.col div.sub-contents div.tag div {
  display: inline-block;
  font-size: 11px;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 10%;
}

section.bdy div.contents a.btn-rent {
  display: inline-block;
  margin: 5px 0 15px;
  font-size: 18px;
  padding: 7px 80px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-color: #696969;
  transition: .4s;
}
section.bdy div.contents a.btn-rent:hover {
  background-color: #696969;
}
section.bdy div.contents p.detal-text {
  margin: 0 5px;
  font-size: 12px;
  text-align: left;
}
section.bdy div.contents div.offer {
  margin: 0 5px;
  text-align: left;
  height: 50px;
  max-height: 100px;
}
section.bdy div.contents div.offer div.mem {
  display: inline-block;
  font-size: 12px;
  padding: 0 10px 0 0;
}
section.bdy div.contents div.offer p.com {
  display: inline-block;
  position: absolute;
  font-size: 11px;
  padding: 0 10px;
  margin: 0 0 10px
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}

.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: DeepSkyBlue;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-size: 10px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

section.ftr {
  background-color: #66CCFF;
  height: 10px;
}

