div.header {
  border-bottom: 3px solid #66CCFF;
}

div.header div.top {
  font-size: 30px;
  font-weight: bold;
  color: #66CCFF;
  width: 40vw;
  text-align: center;
}
div.header div {
  display: inline-block;
}
div.header div.menu {
  color: blue;
  text-align: right;
  width: 50vw;
}
div.header div.menu div,img {
  width: 10vw;
}
