section.header {
 border-bottom: 3px solid #66CCFF;
 margin-bottom: 10px;
}

section.header input {
 border: none;
}

.title {
 font-weight: bold;
 color: #66CCFF;
 width: 100%;
 text-align: left;
 padding-top: 20px;
}

section.header div {
 display: flex;
}

section.header div.menu {
 color: blue;
 text-align: right;
 width: 100%;
 padding-left: 25px;
 padding-top: 18px;
 height: 58px;
}

section.header div.menu div, img {
 width: 40px;
}

/* Topmenu部分 */
div.menu  li {
 float: left;
 position: relative;
}

/* プルダウンメニュー関連 */
section.header div.menu  ul.pulldown {
 list-style-type: none;
}

section.header div.menu  ul.pulldown ul.submenu {
 display: none;
 position: absolute;
 margin-left: -5px;
 margin-top: 5px;
 background: #5597da;
 border: solid 1px #000000;
 padding: 0 1vw 0 1vw;
 z-index: 1;
}

section.header input {
 border: none;
 background-color: #5597da;
}

section.header div.menu  ul.pulldown li a {
 padding: 5px 0;
 color: #000;
}

section.header div.menu  ul.pulldown li.news, section.header div.menu  ul.pulldown li.menu {
 padding: 5px 0;
 margin: -5px 5px -5px -5px;
 display: block;
 color: #000;
 width: auto;
 text-align: left;
}

section.header div.menu div {
 display: flex;
 align-items: center;
 justify-content: center;
}

/* スマホ用プルダウンメニュー関連 */
section.header div.menu  ul.pulldown li.drowerbtn ul.drowermenu {
 display: none;
 position: absolute;
 right: 0;
 background: #5597da;
}

input[type="submit"]:hover {
 color: #da2323;
}