.sort_modal {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 220px;
	background-color: #DDDDDD;
	border-radius: 5%;
	display: none;
}

.sort_title {
	color: #0033FF;
	padding: 15px 0px 5px 15px;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 700;
	border-bottom: dashed 2px #0033FF;
}

.sort_column {
	cursor: pointer;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 15px;
	font-family: sans-serif;
}

.sort_column::after {
	content: "▼";
	font-size: 18px;
	margin-left: 10px;
	color: #0033FF;
}

.filter_modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	background-color: #DDDDDD;
	border-radius: 5%;
	display: none;
}

.filter_title {
	color: #0033FF;
	font-size: 20px;
	padding: 15px 0px 5px 15px;
	font-family: sans-serif;
	font-weight: 700;
	border-bottom: dashed 2px #0033FF;
}

.filter_column {
	width: 90%;
	margin: 10px auto;
	text-align: left;
}

.filter_column input[type='checkbox'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.filter_column label {
	position: relative;
	display: inline-block;
	padding: 5px 10px 2px 35px;
	margin: 10px 10px 0px 5px;
	cursor: pointer;
}

.filter_column label::before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 20px;
	height: 20px;
	content: ' ';
	border: 2px solid #CCCCCC;
	border-radius: 4px;
}

.filter_column input[type='checkbox']+label::before {
	border-radius: 18px;
}

.filter_column input[type='checkbox']:checked+label {
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 10px;
	color: #FFFFFF;
}

.filter_column input[type='checkbox']:checked+label::before {
	top: 0;
	width: 100%;
	height: 100%;
	background: #66CCFF;
}
/* Transition */
.filter_column label, .filter_column label::before {
	-webkit-transition: 0.25s all ease;
	transition: 0.25s all ease;
}

.close {
	padding: 10px 0 10px 100px;
	color: red;
}

.mypage_sort {
	width: 260px;
}