section.request {
  width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 5px;
}

div.line {
}

div.row {
  display: inline-block;
  vertical-align: top;
  height: 150px;

}

div.book_img {
  background-color: #000000;
  width: 100px
}

div.book_img img {
  width: 100%;
}

div.book_info {
  background-color: #0000FF;
  width: 200px;
  padding: aout 0;
}

p.name {
   font-size:16px;
}

p.author {
  font-size:13px;
}

p.requester {
  font-size:15px;
  margin-top: 5px
}

div.cheer_img {
  background-color: #FF0000;
  position:relative;
  width: 60px;
}

div.cheer_img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
}

div.cheer_count {
  position: absolute;
  top: 60%;
  left: 50%;
  transform : translate(-50%,-50%);
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
}

div.reason {
  background-color: #FF0000;
  font-size:100%;
  height: 50%;
}