* {
	margin: 0;
	padding: 0;
}

div.book_box {
	display: gred;
	padding-left: 10px;
	height: 200px;
}

div.row {
	display: inline-block;
}

div.book_img {
	position: relative;
}

.material {
	position: absolute;
	right: 50px;
	bottom: 10px;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.heart {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.6);
}

div.book_img img.javabook {
	padding-top: 30px;
	width: 120px;
	padding-left: 20px;
	border-radius: 2%;
	height: 160px;
	border-radius: 20px;
}

div.book_info {
	width: 170px;
	height: 200px;
	padding-left: 30px;
}

div.name {
	font-size: 19px;
	font-weight: bold;
}

div.author {
	padding-top: 5px;
	font-size: 11px;
}

div.recommended {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0.1em;
	padding-left: 0.4em;
	width: 130px;
	background-color: orange;
	border-radius: 5%;
	font-size: 11px;
	color: white;
}

.tag {
	margin-top: 0.2em;
	padding: 0.1em, 1.0em; /* 背景色 */
	list-style: none;
	display: gred;
	height: 50px;
}

ul.tag li {
	font-size: 11px;
}