div.row {
	display: inline-block;
	vertical-align: top;
    height: 150px;
    padding-top: 25px;

}

div.book_img {
    position: relative;
}

div.book_img img {
    width: 130px;
    padding-left: 20px;
    border-radius: 10%;
    height: 130px;
}

div.book_info {
	width: 170px;
	padding-left: 30px;
}




p.name {
     font-size:18px;
     font-weight: bold;
}

p.author {
    font-size:10px;
    padding-top: 5px;
}

p.recommended {
    margin-top: 0.7em;
    padding: 0.1em;
    padding-left: 0.4em;
    width: 130px;
    background-color:orange;
    border-radius: 5%;
    font-size:11px;
    color: white
}

.tag {
    margin-top: 0.5em;
    padding: 0.5em, 1.0em; /* 背景色 */
    list-style: none;
    display: inline-block;
}

ul.tag li {
    font-size:11px;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}